@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&family=Poor+Story&display=swap");

body {
  font-size: 15px;
  font-family: "Pretendard";
  color: black;
  letter-spacing: -1px;
  transform: rotate(0.04deg);
}

.goodTitle {
  color: #239aff;
  font-weight: bold;
  position: absolute;
  left: 10%;
}
.gooddiv {
  text-align: center;
}
.smileimg {
  width: 250px;
  height: auto;
}
.goodText {
  color: #239aff;
  font-weight: bold;
  font-size: 2vw;
}

.goodText2 {
  display: flex;
  justify-content: center;
  color: rgb(151, 151, 151);
  font-size: 1vw;
  font-weight: bold;
}
.gomainBtn {
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  font-size: 15px;
  width: 120px;
  height: 40px;
  border-radius: 15px;
  border: 2px solid #239aff;
  background-color: #239aff;
  color: white;
  text-decoration: none;
}
