body {
  font-size: 15px;
  font-family: "Pretendard";
  color: black;
  letter-spacing: -1px;
  transform: rotate(0.04deg);
}

.studiv h1 {
  text-align: center;
  color: #239aff;
}

#infoTable {
  justify-content: center;
  width: 40%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #239aff;
  border-radius: 10px;
}
#infoTable tr {
  align-items: center;
}
#infoId,
#infoName {
  display: flex;
  margin-left: 5%;
  margin-top: 20px;
  align-items: center;
  color: #239aff;
}

#infoTable th {
  color: white;
  text-align: right;
  background-color: #239aff;
  padding-right: 10px;
  height: 40px;
  padding: 8px;
}
#infoTable input {
  width: 50%;
  height: 25px;
  text-align: center;
  margin-left: 5%;
  border-radius: 5px;
  border: 2px solid #239aff;
  margin-top: 5px;
  margin-bottom: 5px;
}
#infoTable input:focus {
  border-color: #239aff;
  outline: none;
}
hr {
  margin: 0;
}
.outservice {
  margin-left: 65.5%;
  margin-top: 10px;
  display: flex;
  font-size: 10pt;
  border: 2px solid #239aff;
  background-color: #239aff;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  color: white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
