<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .layout{
    width : 500px;
    margin-top : 40px;
</style>
<body>
    <table class="layout">
        <thead>
            <tr>
                <th>문제</th>
                <th>설명</th>
                <th>보기1</th>
                <th>보기2</th>
                <th>보기3</th>
                <th>보기4</th>
                <th>보기5</th>
                <th>정답</th>
                <th>난이도</th>
                <th>타입</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tb_question : ${list}">
                <td th:text="${tb_question.qes_desc}"></td>
                <td th:text="${tb_question.qes_detail}"></td>
                <td th:text="${tb_question.ex1}"></td>
                <td th:text="${tb_question.ex2}"></td>
                <td th:text="${tb_question.ex3}"></td>
                <td th:text="${tb_question.ex4}"></td>
                <td th:text="${tb_question.ex5}"></td>
                <td th:text="${tb_question.qes_answer}"></td>
                <td th:text="${tb_question.qes_level}"></td>
                <td th:text="${tb_question.qes_type}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>